<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
    <link href="../css/app.css" rel="stylesheet"/>
    <link href="../css/detail.css" rel="stylesheet"/>
</head>
<body>
	
	<header class="mui-bar mui-bar-nav">
        <a class="mui-action-back back-btn mui-pull-left" href="../index.html">
        	<img src="../images/Rectangle  Copy 4@2x.png" alt="" />
        </a>
        <a class="mui-pull-left close-btn" href="../index.html">
        	<img src="../images/返回 copy 2@2x.png" alt="" />
        </a>
        <h1 class="mui-title f-h2">集货详情</h1>
        <a class="more-btn mui-pull-right" href="#">
        	<img src="../images/更多 copy 2@2x.png" alt="" />
        </a>
    </header>
	<div class="mui-content">
	    <div class="mui-card">
			<!--页眉，放置标题-->
			<div class="mui-card-header">
				<div class="title-wrapper">
					鞋服转送080901期
				</div>
				<div class="sub-title">
					<span>1.5-5.5kg</span>
					<span>每日最低需寄<span class="text-warning">20</span>件</span>
				</div>
			</div>
			<!--内容区-->
			<div class="mui-card-content">
				<img src="../images/Chevron@2x.png" alt="" />
			</div>
			<!--页脚，放置补充信息或支持的操作-->
			<div class="mui-card-footer">页脚</div>
		</div>
    </div>
   
    <script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    mui.init()
    </script>
</body>
</html>
