@import './app.scss';

//.title {
//  @include font(12);
//}
.mui-bar-nav {
  background: $main-color;
  .mui-title {
    color: $bg-wt;
  }
  .mui-icon {
    color: $bg-wt;
  }
  .close-btn {
    width: 1.6rem;
    height: 1.6rem;
    margin: 1rem 1.4rem 1rem 0;
    img {
      width: 100%;
    }
  }
  .back-btn {
    width: 1.6rem;
    height: 1.6rem;
    margin: 1rem 1.4rem 1rem 0;
    img {
      height: 100%;
    }
  }
  .more-btn {
    width: 1.6rem;
    height: 1.6rem;
    margin: 1.4rem 0 1.4rem 1.4rem;
    img {
      width: 100%;
      vertical-align: super;
    }
  }
  .mui-icon-more {
    font-size: 3.7rem;
    line-height: 2.5rem;
  }
}

.mui-content {
  > .mui-card {
    margin: 0 0 0.8rem 0;
    .mui-card-header {
      display: block;
      .title-wrapper {
        background-image: url("../images/Combined Shape@2x.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 3.6rem;
        text-align: center;

        .title {
          vertical-align: middle;
          line-height: 3.6rem;
        }
      }
    }

  }
  > .mui-card:first-child {
    margin-top: 0;
    width: 100%;
  }
  .sub-title {
    margin-top: 0.5rem;
  }
  .content-img {
    width: 100%;
    height: auto;
  }
  .badge {
    position: absolute;
    width: 10.0rem;
    height: 10.0rem;
    top: -4.0rem;
    right: 3.0rem;

    .badge-it {
      width: 100%;
      height: 100%;
      text-align: center;
      position: relative;
      img {
        width: 100%;
        height: auto;
        vertical-align: super;
      }
      .badge-title {
        position: absolute;
        text-align: center;
        width: 8rem;
        height: 8rem;
        top: 3rem;
        left: 1rem;
        bottom: 2rem;
        right: 0;
      }
    }
  }
  .mui-progressbar {
    height: 20px;
    border-radius: 20px;
    background: $status-content;
    span {
      background: $main-color;
    }

  }
  .mui-card-footer {
    .progress-word {
      margin-left: 2rem;
      width: 20rem;
      color: $context;
    }

    .progress-number {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      text-align: center;
    }
    .deadline {
      margin-top: 2rem;
    }
  }

  .hint-wrapper {
    .title {
      color: $assist-color;
      margin: 1.5rem 1rem;
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .hint-content {
      margin: 1.5rem 1rem;
      color: $title;

    }
  }
  .join-wrapper {
    color: $assist-color;
    .title {
      color: $assist-color;
      margin: 1.5rem 1rem;
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .favi-wrapper {
      position: relative;
      margin: 1.5rem 1rem;
      .favi-icon {
        //position: absolute;
        float: left;
        width: 1.5rem;
        height: 2.5rem;
        img {
          width: auto;
          height: 100%;
        }
      }
      .favi-number {
        float: right;
        width: 10rem;
      }
    }
  }

}

.mui-bar-tab {
  .join-now-wrapper.join-now-wrapper {
    top: 0;
    height: 100%;
    padding: 15px 12px 15px;
    display: block;
    z-index: -1;
  }
  .share-wrapper {
    position: absolute;
    width: 6rem;
    background: #fff;
    border-top: solid 1px $main-color;
    text-align: center;
    right: 0;
    height: 100%;
    img {
      width: 60%;
      height: 60%;
      margin: 15%;
    }
  }
}
