html,body,div,label,input,li,ul{
	font-family: "Microsoft YaHei";
	padding: 0;
	margin:0;
}
label,input,li,ul{
	font-size: 14px;
	color: #333;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #eee inset !important;
    background-color: rgb(0, 0, 0) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
    -webkit-tap-highlight-color:rgba(0,0,0,0) !important;
}

ul,li{
	list-style-type:none;
}
input,button{
	outline: none;
}
a{
	text-decoration:none
}
.dis-none{
	display: none;
}
.s-clear{
	clear: both;
}
.survey_must{
	color: red;
	margin-right: 5px;
}
.s-btn{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 30px;
	background: #20a0ff;
	color: #FFF;
	font-size: 14px;
	margin: 0 50px;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
}
.s-btn:hover{
	background: #20c0ff;
	color: #FFF;
	border: none;
}
/*input   placeholder样式*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	font-size: 14px;
	color: #909090;
	letter-spacing: 0;
}
input:-moz-placeholder, textarea:-moz-placeholder {
	font-size: 14px;
	color: #909090;
	letter-spacing: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
	font-size: 14px;
	color: #909090;
	letter-spacing: 0;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	font-size: 14px;
	color: #909090;
	letter-spacing: 0;
}
.survey_page{
	width: 75%;
	padding: 20px;
	background: #fff;
	margin: 0 auto;
}
.survey_title{
	text-align: center;
	min-width: 500px;
	font-size: 14px;
	color: #333;
}
.survey_top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 0 20px;
	font-size: 14px;
	color: #333;
}
.survey_reLogin .s-btn{
	margin: 0;
}
.survey_show_title{
	background: #20a0ff;
	color: #fff;
	font-size: 22px;
	padding: 8px 20px;
	min-width: 250px
}
.survey_show_tips{
	text-align: left;
	color: #333;
	padding:10px 5px;
	font-size: 15px;
}
.survey_client_info{
	text-align: left;
}
.client_info{
	display: inline-block;
	margin:5px 0;
	width: 50%;
	float: left;
	text-align: right;
}
.client_info_left{
	text-align: left;
}
.client_info_label{
	width: 130px;
	text-align: right;
	padding: 0 5px;
	background: #f5f5f5;
	border: none;
	border-right: none;
	display: inline-block;
	height: 32px;
	line-height: 32px;
}
.client_input{
	width: calc(90% - 152px);
	min-width: 240px;
	border: 1px solid #eee;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	vertical-align: top;
}
.survey_content{
	clear: both;
	padding-top:40px;
	min-width: 500px;
	font-size: 14px;
	color: #333;
}
.survey_content_item:first-child .survey_content_title{
	display: block;
}
.survey_content_item:first-child .survey_content_chose{
	display: block;
}
.survey_content_item{
	width: 100%;
	margin-top: 30px;
	overflow: hidden;
}
.survey_content_item:first-child{
	margin-top: 0;
}
.survey_content_bar{
	cursor: pointer;
	background: #caf6fe;
	border: 1px solid #caf6fe;
	color: #108cee;
	width: 200px;
	height: 30px;
	padding-left: 20px;
	line-height: 30px;
	font-weight: bold;
	font-size: 16px;
}
.survey_content_title{
	/*display: none;*/
	background: #f5f5f5;
	line-height: 35px;
	padding: 0 20px;
	border: 1px solid #eee;
	overflow: hidden;
}
.survey_content_title_question{
	float: left;
}
.survey_content_title_file{
	float: right;
}
.survey_content_title_file input{
	display: none;
}
.survey_content_title_file .s-btn{
	margin: 0 10px 0 0;
	padding: 0 10px;
}
.file_name{
	font-size: 14px;
	color: #909090;
}
.survey_content_chose{
	/*display: none;*/
	padding: 5px 0;
	border: 1px solid #eee;
}
.survey_content_chose .label{
	margin: 0;
	padding: 15px 20px;
	display: flex;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
}
.survey_content_chose  li span{
	display: flex;
}
.survey_chose_item{
	border: 1px solid #000;
	margin: 5px 10px 5px 0;
}
.survey_chose_feedback{
	flex-grow: 1;
	border: none;
	border-bottom: 1px solid #eee;
	padding: 5px;
	margin-left: 10px;
}
.login_bg{
	background: url("../commonImg/login_bg_1.jpg")no-repeat;
    width:100%;  
    height:100%;  
    background-size:100% 100%;  
    position:absolute;  
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../commonImg/login_bg_1.jpg',sizingMethod='scale');  
}
.login_module{
	text-align: center;
	margin: 18% auto;
}
.login_show_module{
	background: rgba(255,255,255,0.3);
	width: 500px;
	height: 280px;
	display: inline-block;
}
.login_title{
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 18px;
	padding-top:30px;
	font-weight: bold;
}
.survey_login{
	padding: 30px 30px 0 30px;
}
.survey_login_tag{
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: right;
}
.survey_login_input{
	width: calc(100% - 150px);
	padding: 0 15px;
	border: none;
	border-bottom:1px solid #eee;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	background: none;
}
.survey_login_submit{
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin-top: 30px;
}
.survey_submit{
	text-align: center;
	margin: 50px 0;
}

.survey_table{
	font-size: 14px;
	color: #333;
}
.survey_table table{
	width: 100%;
	border-collapse: collapse;
}
.survey_table table th, .survey_table table td{
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.survey_table table th{
	background: #20a0ff;
	color: #FFF;
	font-size: 16px;
}
.survey_table table td{
	border-bottom: 1px solid #DDD;
}
.returnList{
	position: fixed;
	right: 0;
	bottom: 13%;
}
.returnTop{
	position: fixed;
	right: 0;
	bottom: 8%;
}
.returnBottom{
	position: fixed;
	right: 0;
	bottom: 3%;
}
.returnList .s-btn, .returnTop .s-btn, .returnBottom .s-btn{
	margin-right: 30px;
}
.survey_table{
	position: relative;
	padding-bottom: 80px;
	min-height: 300px;
}
.hidden_title{
	margin-top: 0;
}
.hidden_title .survey_content_bar{
	display: none;
}

/*分页*/
.h-showPage {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	height: 20px;
	line-height: 20px;
	/*padding: 0 60px;*/
	margin: 30px 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%; }
.h-showPage .h-totalPage {
	display: inline-block; }
.h-showPage .h-totalPage span {
	height: 20px;
	line-height: 20px;
	display: inline-block;
	color: #909090; }
.h-showPage .h-totalPage span:first-child {
	margin-right: 20px; }
.h-showPage .h-eachShow {
	display: inline-block;
	padding: 0 19px 0 5px;
	margin-left: 5px;
	position: relative;
	border: 1px solid #D0D0D0;
	box-sizing: border-box;
	width: 50px;
	line-height: 20px;
	cursor: pointer; }
.h-showPage .h-eachShow p{
	margin: 0;
}
.h-showPage .h-eachShow ul {
	position: absolute;
	bottom: 21px;
	right: 0;
	z-index: 1;
	background: #fff;
	padding-bottom: 5px;
	display: none;
	-webkit-box-shadow: 0 -2px 4px 0 #D0D0D0;
	-moz-box-shadow: 0 -2px 4px 0 #D0D0D0;
	-ms-box-shadow: 0 -2px 4px 0 #D0D0D0;
	-o-box-shadow: 0 -2px 4px 0 #D0D0D0;
	box-shadow: 0 -2px 4px 0 #D0D0D0; }
.h-showPage .h-eachShow ul li {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	width: 43px;
	padding-left: 5px; }
.h-showPage .h-eachShow ul li:hover {
	background: #EEEEEE; }
.h-showPage .h-eachShow i {
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom: 5px solid #464e54;
	position: absolute;
	right: 5px;
	top: 1px; }
.h-showPage .h-eachShow:hover ul {
	display: block; }
.h-showPage .h-pageNum {
	display: flex; }
.h-showPage .h-pageNum ul {
	display: inherit; }
.h-showPage .h-pageNum ul li {
	height: 20px;
	line-height: 20px;
	background: #FFF;
	border: 1px solid #EEEEEE;
	margin-left: 10px;
	padding: 0 5px;
	min-width: 25px;
	text-align: center;
	cursor: pointer; }
.h-showPage .h-pageNum ul li.active, .h-showPage .h-pageNum ul li:hover {
	background: #20a0ff;
	border: 1px solid #20a0ff;
	color: #FFF; }
.h-showPage .h-pageNum ul li.h-ellipsis {
	cursor: default; }
.h-showPage .h-pageNum ul li.h-ellipsis:hover {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	color: #464e54; }
.h-showPage .h-pageNum i {
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid #EEEEEE;
	margin-left: 10px; }
.h-showPage .h-pageNum .h-goLeft {
	background: url(../commonImg/securityevent_left.png) no-repeat center center; }
.h-showPage .h-pageNum .h-goRight {
	background: url(../commonImg/securityevent_right.png) no-repeat center center; }
.error_bg{background: url("../commonImg/500.jpg")no-repeat;  width:50%;  height:50%;margin:10% 35%; text-align:center;}