$main-color: #FF6532;
$assist-color: #353535;
$btn-bg: #FF6532;
$btn-text: #D36A48;
$context: #000000;
$line: #E6E6E6;
$title: #B2B2B2;
$status: #598E1C;
$status-content: #888888;
$btn-red: #E64340;
$title-red: #D35048;
$bg: #F8F8F8;
$share: #09BB07;
$bg-wt: #FFFFFF;
$bt-hint: #F8EEE6;

html {
    font-size: 10px;
}
@mixin font($fontSize) {
    font-size: $fontSize / 2 + rem !important ;
    font-family: "微软雅黑" "arial black";
}

.f-h1 {
    @include font(4.0);
};
.f-h2 {
    @include font(3.7);
};
.f-h3 {
    @include font(3.6);
};
.f-h4{
    @include font(3.4);
};
.f-h5 {
    @include font(3.2);
};
.f-h6 {
    @include font(3.0);
};
.f-h7 {
    @include font(2.8);
};
.f-h8 {
    @include font(2.6);
};
.f-h9 {
    @include font(2.4);
};
.dis-flex {
  display: flex;
}
.dis-block {
  display: block;
}
/*普通按钮*/
@mixin btn($btn-width,$btn-height,$btn-bg-color,$btn-text-color,$btn-hover-bg-color,$btn-hover-text-color){
  display: inline-block;
  width: $btn-width;
  height: $btn-height;
  line-height: $btn-height;
  text-align: center;
  background: $btn-bg-color;
  color: $btn-text-color;
  cursor: pointer;
  border: none;
  vertical-align: middle;
  &:hover{
    background: $btn-hover-bg-color;
    color: $btn-hover-text-color;
  }
}

//普通按钮
.mui-btn {
    .mui-btn-warning.mui-btn-warning {
        @include btn(100%, auto,$main-color,$bg-wt,$btn-bg,$bg-wt);
        &.no-radius.no-radius{
            border-radius: none;
        }
    }
    .mui-btn-success.mui-btn-success {
         @include btn(100%, auto,$share,$bg-wt,$btn-bg,$bg-wt);
          &.no-radius.no-radius{
            border-radius: none;
        }
    }
}
.text-warning {
    color: $main-color;
}
.text-white {
    color: $bg-wt;
}
.bold {
    font-weight: bold;
}
.clearfix:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #c8c7cc;
  top: auto;
  bottom: 0;
}

/*
.clearfix:after {

}*/
