@charset "UTF-8";
html {
  font-size: 10px; }

.f-h1 {
  font-size: 2rem !important;
  font-family: "微软雅黑" "arial black"; }

.f-h2 {
  font-size: 1.85rem !important;
  font-family: "微软雅黑" "arial black"; }

.f-h3 {
  font-size: 1.8rem !important;
  font-family: "微软雅黑" "arial black"; }

.f-h4 {
  font-size: 1.7rem !important;
  font-family: "微软雅黑" "arial black"; }

.f-h5 {
  font-size: 1.6rem !important;
  font-family: "微软雅黑" "arial black"; }

.f-h6 {
  font-size: 1.5rem !important;
  font-family: "微软雅黑" "arial black"; }

.f-h7 {
  font-size: 1.4rem !important;
  font-family: "微软雅黑" "arial black"; }

.f-h8 {
  font-size: 1.3rem !important;
  font-family: "微软雅黑" "arial black"; }

.f-h9 {
  font-size: 1.2rem !important;
  font-family: "微软雅黑" "arial black"; }

.dis-flex {
  display: flex; }

.dis-block {
  display: block; }

/*普通按钮*/
.mui-btn.mui-btn-warning.mui-btn-warning {
  display: inline-block;
  width: 100%;
  height: auto;
  line-height: auto;
  text-align: center;
  background: #FF6532 !important;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  vertical-align: middle; }
  .mui-btn.mui-btn-warning.mui-btn-warning:hover {
    background: #FF6532;
    color: #FFFFFF; }
  .mui-btn.mui-btn-warning.mui-btn-warning.no-radius.no-radius {
    border-radius: none; }
.mui-btn.mui-btn-success.mui-btn-success {
  display: inline-block;
  width: 100%;
  height: auto;
  line-height: auto;
  text-align: center;
  background: #09BB07 !important;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  vertical-align: middle; }
  .mui-btn.mui-btn-success.mui-btn-success:hover {
    background: #FF6532;
    color: #FFFFFF; }
  .mui-btn.mui-btn-success.mui-btn-success.no-radius.no-radius {
    border-radius: none; }

.text-warning {
  color: #FF6532; }

.text-white {
  color: #FFFFFF; }

.bold {
  font-weight: bold; }

.clearfix:before {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both;
  display: table;
  content: " "; }

/*
.clearfix:after {

}*/
.mui-bar-nav {
  background: #FF6532; }
  .mui-bar-nav .mui-title {
    color: #FFFFFF; }
  .mui-bar-nav .mui-icon {
    color: #FFFFFF; }
  .mui-bar-nav .close-btn {
    width: 1.6rem;
    height: 1.6rem;
    margin: 1rem 1.4rem 1rem 0; }
    .mui-bar-nav .close-btn img {
      width: 100%; }
  .mui-bar-nav .back-btn {
    width: 1.6rem;
    height: 1.6rem;
    margin: 1rem 1.4rem 1rem 0; }
    .mui-bar-nav .back-btn img {
      height: 100%; }
  .mui-bar-nav .more-btn {
    width: 1.6rem;
    height: 1.6rem;
    margin: 1.4rem 0 1.4rem 1.4rem; }
    .mui-bar-nav .more-btn img {
      width: 100%;
      vertical-align: super; }
  .mui-bar-nav .mui-icon-more {
    font-size: 3.7rem;
    line-height: 2.5rem; }

.mui-content > .mui-card {
  margin: 0 0 0.8rem 0; }
  .mui-content > .mui-card .mui-card-header {
    display: block; }
    .mui-content > .mui-card .mui-card-header .title-wrapper {
      background-image: url("../images/Combined Shape@2x.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 100%;
      height: 3.6rem;
      text-align: center; }
      .mui-content > .mui-card .mui-card-header .title-wrapper .title {
        vertical-align: middle;
        line-height: 3.6rem; }
.mui-content > .mui-card:first-child {
  margin-top: 0;
  width: 100%; }
.mui-content .sub-title {
  margin-top: 0.5rem; }
.mui-content .content-img {
  width: 100%;
  height: auto; }
.mui-content .badge {
  position: absolute;
  width: 10.0rem;
  height: 10.0rem;
  top: -4.0rem;
  right: 3.0rem; }
  .mui-content .badge .badge-it {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative; }
    .mui-content .badge .badge-it img {
      width: 100%;
      height: auto;
      vertical-align: super; }
    .mui-content .badge .badge-it .badge-title {
      position: absolute;
      text-align: center;
      width: 8rem;
      height: 8rem;
      top: 3rem;
      left: 1rem;
      bottom: 2rem;
      right: 0; }
.mui-content .mui-progressbar {
  height: 20px;
  border-radius: 20px;
  background: #888888; }
  .mui-content .mui-progressbar span {
    background: #FF6532; }
.mui-content .mui-card-footer .progress-word {
  margin-left: 2rem;
  width: 20rem;
  color: #000000; }
.mui-content .mui-card-footer .progress-number {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  text-align: center; }
.mui-content .mui-card-footer .deadline {
  margin-top: 2rem; }
.mui-content .hint-wrapper .title {
  color: #353535;
  margin: 1.5rem 1rem; }
  .mui-content .hint-wrapper .title img {
    width: 1.5rem;
    height: 1.5rem; }
.mui-content .hint-wrapper .hint-content {
  margin: 1.5rem 1rem;
  color: #B2B2B2; }
.mui-content .join-wrapper {
  color: #353535; }
  .mui-content .join-wrapper .title {
    color: #353535;
    margin: 1.5rem 1rem; }
    .mui-content .join-wrapper .title img {
      width: 1.5rem;
      height: 1.5rem; }
  .mui-content .join-wrapper .favi-wrapper {
    position: relative;
    margin: 1.5rem 1rem; }
    .mui-content .join-wrapper .favi-wrapper .favi-icon {
      float: left;
      width: 1.5rem;
      height: 2.5rem; }
      .mui-content .join-wrapper .favi-wrapper .favi-icon img {
        width: auto;
        height: 100%; }
    .mui-content .join-wrapper .favi-wrapper .favi-number {
      float: right;
      width: 10rem; }

.mui-bar-tab .join-now-wrapper.join-now-wrapper {
  top: 0;
  height: 100%;
  padding: 15px 12px 15px;
  display: block;
  z-index: -1; }
.mui-bar-tab .share-wrapper {
  position: absolute;
  width: 6rem;
  background: #fff;
  border-top: solid 1px #FF6532;
  text-align: center;
  right: 0;
  height: 100%; }
  .mui-bar-tab .share-wrapper img {
    width: 60%;
    height: 60%;
    margin: 15%; }

/*# sourceMappingURL=detail.css.map */
