<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.iguess.survey.mapper.ExpressDeliveryDao" >
  <resultMap id="BaseResultMap" type="com.sf.iguess.survey.domain.ExpressDelivery" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="store_id" property="storeId" jdbcType="VARCHAR" />
    <result column="user_area" property="userArea" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="day_express_number" property="dayExpressNumber" jdbcType="INTEGER" />
    <result column="avg_weight" property="avgWeight" jdbcType="REAL" />
    <result column="detail_address" property="detailAddress" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="UserResultMap" type="com.sf.iguess.survey.domain.User">
	<id column="user_id" jdbcType="VARCHAR" property="userId" />
	<result column="user_name" jdbcType="VARCHAR" property="userName" />
	<result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, store_id, user_area, user_name, phone_number, day_express_number, avg_weight,detail_address
  </sql>
  
    <select id="getExpressUserList" resultMap="UserResultMap">
    SELECT user_id,pic_url FROM `ts_user`  
    WHERE user_id IN (SELECT phone_number FROM `pro_user_delivery` WHERE store_id = #{storeId});
  </select>
   
  <insert id="insert" parameterType="com.sf.iguess.survey.domain.ExpressDelivery" >
    insert into pro_user_delivery (store_id, user_area, 
      user_name, phone_number, day_express_number, 
      avg_weight, detail_address)
    values (#{storeId,jdbcType=BIGINT}, #{userArea,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{dayExpressNumber,jdbcType=INTEGER}, 
      #{avgWeight,jdbcType=REAL}, #{detailAddress,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.sf.iguess.survey.domain.ExpressDelivery" >
    insert into pro_user_delivery
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="userArea != null" >
        user_area,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="dayExpressNumber != null" >
        day_express_number,
      </if>
      <if test="avgWeight != null" >
        avg_weight,
      </if>
      <if test="detailAddress != null" >
        detail_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="userArea != null" >
        #{userArea,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="dayExpressNumber != null" >
        #{dayExpressNumber,jdbcType=INTEGER},
      </if>
      <if test="avgWeight != null" >
        #{avgWeight,jdbcType=REAL},
      </if>
      <if test="detailAddress != null" >
        #{detailAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>