<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sf.iguess.survey.mapper.StoreGoodsDao" >
  <resultMap id="BaseResultMap" type="com.sf.iguess.survey.domain.StoreGoods" >
    <id column="store_id" property="storeId" jdbcType="VARCHAR" />
    <result column="store_market_pic" property="storeMarketPic" jdbcType="VARCHAR" />
    <result column="stored_number" property="storedNumber" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="DetailResultMap" type="com.sf.iguess.survey.domain.StoreGoods" >
    <id column="store_id" property="storeId" jdbcType="VARCHAR" />
    <result column="store_market_pic" property="storeMarketPic" jdbcType="VARCHAR" />
    <result column="stored_number" property="storedNumber" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="market_id" property="marketId" jdbcType="VARCHAR" />
    <result column="mkt_name_show" property="mktNameShow" jdbcType="VARCHAR" />
    <result column="daily_min_packages" property="dailyMinPackages" jdbcType="SMALLINT" />
    <result column="weight_min" property="weightMin" jdbcType="DOUBLE" />
    <result column="weight_max" property="weightMax" jdbcType="DOUBLE" />
    <result column="base_price" property="basePrice" jdbcType="DOUBLE" />
    <result column="base_weight" property="baseWeight" jdbcType="DOUBLE" />
    <result column="group_limit" property="groupLimit" jdbcType="SMALLINT" />
    <result column="group_duration" property="groupDuration" jdbcType="TINYINT" />
    <result column="user_require" property="userRequire" jdbcType="LONGVARCHAR" />
  </resultMap>
   
  <sql id="Base_Column_List" >
    store_id, store_market_pic, stored_number, create_time, modify_time
  </sql>
   
  <sql id="Detail_Column_List" >
    store_id, store_market_pic, stored_number, create_time, modify_time,
    mkt_id as market_id, mkt_name_show, daily_min_packages, weight_min, weight_max, base_price, base_weight, 
    group_limit, group_duration,user_require
  </sql>
  
   <select id="selectActiveStoreGoods" resultMap="Base_Column_List">
    select   <include refid="Base_Column_List" />
    from tt_store_goods where market_id = #{marketId} and status = 0 and stored_number &lt; #{groupLimit}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="DetailResultMap" parameterType="java.lang.String" >
    select <include refid="Detail_Column_List" />
    from tt_store_goods tg left join  tt_market_basic tb  on tg.market_id  = tb.mkt_id 
    where store_id = #{storeId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectStoreByMarketId" resultMap="DetailResultMap" parameterType="java.lang.String" >
    select store_id  from tt_store_goods  where market_id = #{mktId}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tt_store_goods
    where store_id = #{storeId,jdbcType=VARCHAR}
  </delete>
   
  <insert id="insertSelective" parameterType="com.sf.iguess.survey.domain.StoreGoods" >
    insert into tt_store_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="marketId != null" >
        market_id,
      </if>
      <if test="storeMarketPic != null" >
        store_market_pic,
      </if>
      <if test="storedNumber != null" >
        stored_number,
      </if>
        create_time, modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
       <if test="marketId != null" >
        #{marketId,jdbcType=VARCHAR},
      </if>
      <if test="storeMarketPic != null" >
        #{storeMarketPic,jdbcType=VARCHAR},
      </if>
      <if test="storedNumber != null" >
        #{storedNumber,jdbcType=INTEGER},
      </if>
      now(),now()
    </trim>
  </insert>
   
  <update id="updateByPrimaryKeySelective" parameterType="com.sf.iguess.survey.domain.StoreGoods" >
    update tt_store_goods
    <set >
      <if test="storeMarketPic != null" >
        store_market_pic = #{storeMarketPic,jdbcType=VARCHAR},
      </if>
      <if test="storedNumber != null" >
        stored_number = #{storedNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where store_id = #{storeId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateStoreGroupStatus">
    update tt_store_goods  stored_number = stored_number +1, modify_time = now()
    where store_id = #{storeId} and stored_number &lt; #{goupLimit}
  </update>
</mapper>